.navbar {
  width: 100%;
  overflow: auto;
  background-color: hsl(0, 0%, 25%);
}

.navbar ul {
  padding: 0;
  margin: 0 0 0 250px;
  list-style: none;
}

.navbar li {
  float: left;
}

.navbar li a{
  width: 100px;
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  font-family: arial;
  color: white;
  text-align: center;
}

.logo img{
  position: absolute;
  margin-top: 5px;
  margin-left: 10px;
  width: 105px;
  height: auto;
}
