@import url('https://fonts.cdnfonts.com/css/spacetype');             

body {
  background-image: url(https://i.pinimg.com/originals/a5/68/06/a56806bce812d4ec85665792d83b809b.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.navbar {
  width: 100%;
  overflow: auto;
  background-color: hsl(221, 50%, 21%);
}

.navbar ul {
  padding: 0px;
  margin: 0 0 0 150px;
  list-style: none;
}

.navbar li {
  float: left;
}

.navbar li a{
  width: 100px;
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  font-family: 'SpaceType', sans-serif;
  color: white;
  text-align: center;
}

.navbar a:hover{
  background-color: hsl(212, 36%, 35%);
  text-transform: uppercase;
}

.logo img{
  position: absolute;
  margin-top: 5px;
  margin-left: 10px;
  width: 120px;
  height: auto;
}
