@import url('https://fonts.cdnfonts.com/css/spacetype'); 

.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  height: 500px;
  width: 600px;
}

.titlepage {
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  font-family: 'SpaceType', sans-serif;
  color: white;
}

button {
  background-color: hsl(209, 27%, 63%);
  font-family: 'SpaceType', sans-serif;
  text-align: center;
}

.trainer:hover{
  background-color: hsl(212, 36%, 35%);
  transform: scale(1.2);
}

.pokemon:hover{
  background-color: hsl(212, 36%, 35%);
  transform: scale(1.2);
}

.trainer {
  position:absolute; 
  left:75px; 
  top:325px;
  background-color: hsl(209, 27%, 63%);
  font-family: 'SpaceType', sans-serif;
  color: white;
  padding: 20px; 
  width: 200px;
  border-radius: 10px;
  text-align: center;
}

.pokemon {
  position:absolute; 
  left:350px; 
  top:325px;
  background-color: hsl(209, 27%, 63%);
  font-family: 'SpaceType', sans-serif;
  color: white;
  padding: 20px; 
  width: 200px;
  border-radius: 10px;
  text-align: center;
}

