    #chartContainer {
      width: 50%;
      height: 50%;
      left: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      margin-top: 20px;
      border-radius: 25px;
    }
